@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
  list-style: none;
  
}
a{
  color: #000;
  display: block;
  text-decoration: none;
}
input{
  border-style: ridge;
}
input:focus-visible{
  outline: none;
}
:root{
  --primary-color: '#fff',
  --secondary-color: '#000',
  --three-color:'#ccc',
  --four-color: '#1A6ED8',
  --nav-height: 40px;
}
.root-container{
  width: 1024px;
  margin: 0 auto;
}
.center-element{
  margin-top: var(--nav-height);
}
.bg-site{
  background-image: url(../image/iron_bg.jpg);
}
.slideshow-container {
  width: 300px; /* chiều rộng cố định của slideshow */
}
.bg-about{
  background-image: url(../image/about_bg.jpg);
}
.related-products {
  width: 1200px;
  height: 369px;
  overflow: hidden;
}

.product-card {
  width: 230px;
  height: 340px;
  transition: transform 0.3s;
}

.product-image {
  width: 170px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.slick-slide {
  margin-right: 16px;
}
